h4
{
    color: black;
}

legend
{
    font-family: serif;
    color: black;
}

input 
{
    color: brown;
}

div
{
    margin: 0 15%;
}

label
{
    font-family: sans-serif;
    color: chocolate;
}

#edyform
{
    background: aqua;
}
